body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 30px;
}

select, button {
  margin-bottom: 10px;
}

.selectItem {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 14px;
  cursor: pointer;
  }

.add_button{
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#totalAmount, #totalCount {
  font-weight: bold;
}

#salesTable td:last-child {
  text-align: center;
}

#salesTable td:last-child button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}